.brands {
    background-color: #f1f1f1;
    width: 90%;
    height: 500px;
    display: block;
    margin: auto;
    text-align: center;
}

.brands h1 {
    text-align: center;
}

.brands img {
    margin: 15px 20px 15px 20px;
    width: 200px;
    height: 100px;
}