    .offers {
        text-align: center;
    }
    
    .tile-content {
        display: block;
        width: fit-content;
        margin: auto;
        height: 350px;
        border: black 5px;
    }
    
    .offers .tile-content .tiles {
        float: left;
        padding: 3px;
        border: solid black 1px;
        height: 320px;
        text-align: center;
        margin: 10px 30px 10px 30px;
        transition: transform 0.2s;
        box-shadow: 1px 1px 1px 1px rgb(150, 147, 147);
    }
    
    .tiles:hover {
        transform: scale(1.025);
    }
    
    #add-to-cart {
        padding: 5px 40px 5px 40px;
        background-color: rgba(255, 166, 0, 0.541);
        color: black;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        margin-top: 10px;
        transition: transform 0.2s;
    }
    
    #add-to-wishlist {
        float: none;
        padding: 5px 40px 5px 40px;
        background-color: rgba(243, 99, 99, 0.411);
        color: black;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
        margin-top: 10px;
        transition: transform 0.2s;
    }
    
    #add-to-cart:hover {
        transform: scaleX(1.025);
    }
    
    #add-to-wishlist:hover {
        transform: scaleX(1.025);
    }
    
    .tiles h3 {
        padding: 2px;
        margin: 0;
    }
    
    .tiles p {
        padding: 2px;
        margin: 0;
    }